@import "../../../../styles/variables";

.third-block {
    text-align: center;
    margin-right: 3rem;

    &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: $block-headers-font-size;
    }

    &__story {
        font-size: 0.7rem;
        font-weight: lighter;
        color: $grey-color;
    }

    @media (max-width: 960px) {
        margin: 0 0.5rem;
    }
}
