<!-- 
- pipe na sortowanie alfabetyczne tekstow
- zalinkowac logo html5 w headerze
- dodac zadanie rekrutacyjne z prawej strony headera
- dodac naglowek h1 w main content
- button pokaz w footerze jako div z 2 przyciskami
    * pierwszy przycisk resetuje do ustawien poczatkowych (wyzerowanie stories, radio buttonow, imienia w headerze)
    * drugi pokazuje 
- ramka z lewej strony footera z animacja
- styling
- dodatkowa funkcjonalosc z local storage
-->
<div class="app">

    <app-header></app-header>
    <app-main-content></app-main-content>
    <app-footer></app-footer>

</div>
