@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500");
@import "./app/styles/variables";

$customFont: "Open Sans";

html,
body {
    font-family: $customFont;
    color: white;
    height: 100%;
    margin: 0;
    background-color: $body-color;
}
